{% extends 'base.html' %}

{% block title %}{{ profile_user.username }}'s Profile{% endblock %}

{% block content %}
    <h2>{{ profile_user.username }}'s Profile</h2>
    <!-- Mostrar informações do perfil do usuário aqui -->
    <p>{{ profile_user.username }} is following: {{ profile_user.following.count }}</p>
    {% if request.user.is_authenticated %}
        {% if request.user != profile_user %}
            {% if not request.user in profile_user.followers.all %}
                <form action="{% url 'follow_user_by_username' profile_user.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Follow</button>
                </form>
            {% else %}
                <p>You are already following this user.</p>
            {% endif %}
        {% endif %}
    {% else %}
        <p>You need to be logged in to follow this user.</p>
    {% endif %}
    <h3>{{ profile_user.username }}'s Tweets:</h3>
    {% for tweet in tweets %}
        <p>{{ tweet.content }} - <em>{{ tweet.created_at }}</em></p>
    {% endfor %}
{% endblock %}
