<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Twitter Clone{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Twitter Clone</h1>
        <nav>
            <ul>
                <li><a href="{% url 'feed' %}">Feed</a></li>
                <li><a href="{% url 'create_tweet' %}">Create Tweet</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_profile' request.user.username %}">Meu Perfil</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Twitter Clone</p>
    </footer>
</body>
</html>
